.footer {
  background: #191a1d;
  &__grid {
    display: none;
  }
  &__copyright {
    background-color: #121314;
    &__container {
      display: grid;
      width: 90%;
      margin: 0 auto;
      grid-template-columns: 1fr;
      padding: 50px 0;
      &-text {
        color: #fff;
        font-size: 13px;
        text-align: center;
        margin-bottom: 20px;
      }
      &-socials {
        display: flex;
        justify-self: center;
        li {
          margin-right: 15px;
          a {
            color: #fff;
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 768px) {
  .footer {
    &__grid {
      padding: 70px 0;
      color: #fff;
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin: 0 auto;
      width: 90%;

      &__about {
        &-address {
          font-size: 14px;
        }
        &__contact {
          font-size: 14px;
          padding-top: 15px;
          line-height: 24px;
          a {
            color: #37aedf;
            text-decoration: none;
          }
        }
      }

      &__recent {
        justify-self: flex-end;
        &-projects {
          li {
            display: flex;
            flex-direction: column;
            line-height: 24px;
            a {
              color: #fff;
              font-size: 14px;
              text-decoration: none;
            }
            span {
              font-size: 12px;
              color: #bbbbbb;
            }
          }
        }
      }
      &__quick {
        &-links {
          li {
            margin-bottom: 8px;
            a {
              color: #fff;
              text-decoration: none;
            }
          }
        }
      }
    }
    &__copyright {
      &__container {
        grid-template-columns: 1fr 1fr;
        &-text {
          text-align: left;
          margin-bottom: 0;
        }
        &-socials {
          justify-self: flex-end;
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  .footer {
    &__grid {
      grid-template-columns: 1fr 1fr 1fr;
      div {
        justify-self: center;
      }

      &__recent {
        justify-self: flex-start;
      }
    }
  }
}
